<div class="form-container" id="edit-account">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } %>
    
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice" style="width: 400px; margin: auto;">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <form action="/account/update" method="post">
        
        <div>
            <label for="account_firstname" class="required">First Name</label><br>
            <input type="text" id="account_firstname" name="account_firstname" value="<%= firstname %>" required>
        </div>
        <div>
            <label for="account_lastname" class="required">Last Name</label><br>
            <input type="text" id="account_lastname" name="account_lastname" value="<%= lastname %>" required>
        </div>
        <div>
            <label for="account_email" class="required">Email</label><br>
            <input type="email" id="account_email" name="account_email" value="<%= email %>" required>
        </div>
        <div class="submit">
            <input type="submit" value="Update Account">
        </div>
        <div>
            <input type="hidden" name="account_id"
            <% if (locals.account_id) { %>
                value="<%= account_id %>"
            <% } %>>
        </div>
    </form>

    <h2>Update Password</h2>
    <form action="/account/updatePW" method="post">
        <div class="form-hint">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter, 1 lowercase letter, and 1 special character.</div>
        <div class="form-hint">*note your original password will be changed.</div>
        <div>
            <label for="account_password" class="required">Password</label><br>
            <input type="password" id="account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="Enter your new password" required>
            <button type="button" id="toggleShowPW">Show Password</button>
        </div>
        <div class="submit">
            <input type="submit" value="Change Password">
        </div>
        <div>
            <input type="hidden" name="account_id"
            <% if (locals.account_id) { %>
                value="<%= account_id %>"
            <% } %>>
        </div>
    </form>
    <hr>
    <div class="danger-zone">
        <h2 style="color: red;">Delete Current Account</h2>
        <form action="/account/deleteAccount" method="post">
            <div class="form-hint">⚠️Once you delete your current account, there is no way to undo it.</div>
            <div class="form-hint">Type your email address to ensure your want to delete the current account.</div>
            <div>
                <label for="account_email" class="required">Email</label><br>
                <input type="email" id="account_email" name="account_email" placeholder="Enter your email" required>
            </div>
            <div class="submit">
                <input type="submit" value="Delete Account" style="background-color: red;">
            </div>
            <div>
                <input type="hidden" name="account_id"
                <% if (locals.account_id) { %>
                    value="<%= account_id %>"
                <% } %>>
            </div>
        </form>
    </div>
</div>

<script>
    const toggleShowPW = document.getElementById("toggleShowPW")
    toggleShowPW.addEventListener("click", () => {
        const pwInput = document.getElementById("account_password")
        const type = pwInput.getAttribute('type')

        if (type === 'password') {
            pwInput.setAttribute('type', 'text')
            toggleShowPW.innerHTML = "Hide Password"
        } else {
            pwInput.setAttribute('type', 'password')
            toggleShowPW.innerHTML = "Show Password"
        }
    })
</script>