<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form>
    <div>
        <label for="account_firstname">First Name</label>
        <input type="text" id="account_firstname" name="account_firstname" value="<%= firstname %>">
    </div>
    <div>
        <label for="account_lastname">Last Name</label>
        <input type="text" id="account_lastname" name="account_lastname" value="<%= lastname %>">
    </div>
    <div>
        <label for="account_email">Email</label>
        <input type="email" id="account_email" name="account_email" value="<%= email %>">
    </div>
    <div class="submit">
        <input type="submit" value="submit">
    </div>

</form>