<div id="read-message">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <div class="message-box font-1">
        <div>
            <span><strong>Subject: </strong></span>
            <span><%= subject %></span>
        </div>
        <div>
            <span><strong>From: </strong></span>
            <span><%= sender_name %> </span>
        </div>
        <div>
            <span><strong>Message: </strong></span><br>
            <span><%= content %> </span>
        </div>
    </div>
    <hr>
    <div><a href="/message">Return to Inbox/</a></div>
    <div class="font-1 btn-box">
        <a href="/message/reply/<%= message_id %>" class="btn-link">
            Reply
        </a>
        <a href="/message/mark-read" class="btn-link">
            Mark as Read
        </a>
        <a href="/message/archive" class="btn-link">
            Archive Message
        </a>
        <a href="/message/delete" class="btn-link">
            Delete Message
        </a>
    
        
</div>
